.trackContainer {
  width: 95%;
  margin: 20px 0px;
  border-radius: 12px;
 display: flex;
 justify-content: start;
 align-items: start;
 flex-direction: column;
}

.header {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: rgb(177, 177, 177);
}

.inputGroup {
  display: flex;
  width: 95%;
  max-width: 500px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.orderInput {
  width: 90%;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 0.95rem;
  background: rgb(236, 236, 236);
  outline: none;
}

.trackBtn {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  background-color: var(--storeSecondary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.trackBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.trackBtn:hover:not(:disabled) {
  opacity: 3;
  color: white;
}
