.latestWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0px;
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #111;
}

.scrollContainer {
  width: 95%;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scrollContainer {
  scrollbar-width: none; /* Firefox */
}

.loading,
.empty {
  text-align: center;
  color: #555;
  font-size: 1rem;
}
