.footer {
  background-color: var(--storePrimary);
  color: white;
  padding: 20px 0px;
  font-size: 0.95rem;
  border-top: 1px solid #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.section h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.section p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.otherList {
  list-style: none;
  padding-left: 0;
}

.otherList li {
  margin: 3px 0;
}

.bottomNote {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  font-size: 0.85rem;
  text-align: center;
  color: #777;
}
